h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 1rem;
}

li{
    display: flex;
    justify-content: space-between;
    background-color: #09496435;
    padding: 10px;
    border-radius: 5px;
}

.borrar-nota,
.borrar-nota:hover {
    /* float: right; */
    color: rgb(229, 68, 68);
    cursor: pointer;
    font-weight: bold;
    margin-left: 2rem;
}

.error {
    background-color: rgb(229, 68, 68);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 80vw;
    margin: 1rem auto;
    color: white;
}