h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 1rem;
}

.borrar-nota,
.borrar-nota:hover {
    float: right;
    cursor: pointer;
    color: rgb(229, 68, 68);
    font-weight: bold;
}

.error {
    background-color: rgb(229, 68, 68);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 80vw;
    margin: 0 auto;
    color: white;
}